body {background-color:burlywood}
 embed{
     text-align:right;
 }
 #cab{
     text-align: center;
 }
form{
    float: right;
}
 }
 .imgmun{
   text-align: center;
   font-size: 10000cm
 }
 .ladoizquierdo {
    background: rgb(237, 100, 100);
    color: rgba(255, 255, 255, 0.849); 
    font-family: Arial, Sans-serif;
    font-size: 12px;
    padding: 20px 10px 10px 10px;
    text-align : center;
    width: 300px;
    height: 450px;
    font-size: 100%;
    
    
 }
 .ladoderecho {
    background: rgb(237, 100, 100);
    color: rgba(255, 255, 255, 0.849); 
    font-family: Arial, Sans-serif;
    font-size: 12px;
    padding: 20px 10px 10px 10px;
    text-align : center;
    width: 550px;
    height: 700px;
    float: right;
    font-size: 100%;
 }


   nav{ text-align: right;
     -webkit-text-fill-color: grey ;
 }


 }
 a{
     font-size: 180%;
 }
  header{align-items: flex-start;
   
      font-size:45%;
 
  }
  mark{
     background-color: rgba(252, 59, 0, 0.479);
  }
   #titulo {color: rgba(58, 13, 180, 0.952);
       font-family: cursive;
       font-style: italic;
       
       text-align: center;
       font-size: 450%;
       font-weight: bolder;} 

.imginfo{ float: right;

}
.imgmano{
    float:center;
}


      
.b{ background-color: rgb(255, 255, 255)}